
<h2>Tasks</h2>

<ul>
  <li *ngFor="let t of tasks|async" >
    <div> 
        <span>Task: {{t.id}}</span> 
        <div>
            <select [(ngModel)]="t.assigneeId" (change)="updateAssignee(t.id, t.assigneeId)">
                <option *ngFor="let user of users|async"
                    value="{{user.id}}" [selected]="user.id == t.assigneeId">
                    {{user.name}}</option>
            </select>
        </div>
        <div class="des">{{t.description}}</div>
        <button [routerLink]="['/detail', t.id]">Edit</button>
    </div>
  </li>
</ul>